 <!DOCTYPE html>
<html lang="en">

<head>

  <title>Code-M - Home</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" media="screen,projection">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
  <link href="static/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" href="static/img/logo_m.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0"/>

</head>
<body>

<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="static/img/logo_small.png" height="29" width="150"></a>
      <ul class="right hide-on-med-and-down">
                <li class='active'><a href='/'>Home</a></li>
                <li class=''><a href='join'>Join</a></li>
                <li class=''><a href='calendar'>Calendar</a></li>
                <li class=''><a href='companies'>Companies</a></li>
                <li class=''><a href='contact'>Contact</a></li>
              </ul>

      <ul id="nav-mobile" class="side-nav">
                <li class='active'><a href='/'>Home</a></li>
                <li class=''><a href='join'>Join</a></li>
                <li class=''><a href='calendar'>Calendar</a></li>
                <li class=''><a href='companies'>Companies</a></li>
                <li class=''><a href='contact'>Contact</a></li>
              </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>  

	{% block content %} {% endblock %}


	<footer class="page-footer blue lighten-2">
		<div class="container">
			<div class="row">
				<a name="contact"></a>
				<div class="col s3 center-align">
					<a class="white-text" href="https://github.com/csescholarsum" target="_blank"><i class="fa fa-github"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="mailto:code-m-board@umich.edu"><i class="fa fa-envelope"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="https://twitter.com/CodeMUmich" target="_blank"><i class="fa fa-twitter"></i></a>
				</div>
				<div class="col s3 center-align">
					<a class="white-text" href="https://www.facebook.com/CodeMUmich" target="_blank"><i class="fa fa-facebook-square"></i></a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				(C) 2016 Code-M.
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>