{% extends 'base.html' %}
{% block content%}

	<div class="container">
		<div class="section">
			<h2 class="header center blue-text text-lighten-2">Contact Us</h2>

			<div class="row">
				<div class="col s12">
					<div class="card-panel grey lighten-5 z-depth-1">
						<p> Comments? Questions? Concerns? Reach out to all of us at <a href="mailto:code-m-board@umich.edu">code-m-board@umich.edu</a>! Our office is in room 1648C in the Beyster Building on North Campus. <br>
						Just want to get on our mailing list? Sign up <a href="http://eepurl.com/cfW9gz">here</a>.
					</div>
				</div>
			</div>

			<!--   Icon Section   -->
			<div class="row">

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/sarty.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Sarthak Bhandari
								</h5>
								<p class="center"> President <br> <a href="mailto:sarthakb@umich.edu">sarthakb@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/torus.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Taku Rusike
								</h5>
								<p class = "center"> Vice President <br> <a href="mailto:torus@umich.edu">torus@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/Arty.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Athreya Vardarajan
								</h5>
								<p class="center"> Head of External Outeach <br> <a href="mailto:athreya@umich.edu">athreya@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/Randa.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Miranda Weismantel
								</h5>
								<p class="center"> Head of Internal Outreach <br> <a href="mailto:weismant@umich.edu">weismant@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/duhaime.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Henry Duhaime
								</h5>
								<p class="center"> Head of Code:Blue <br> <a href="mailto:hduhaime@umich.edu">hduhaime@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
					<div class="card-panel grey lighten-5 z-depth-1">
						<div class="row valign-wrapper">
							<div class="col s12">
								<img src="static/img/board/mav.jpg" alt="" class="circle responsive-img"> 
							</div>
						</div>
						<div class="row valign-wrapper">
							<div class="col s12">
								<h5 class="black-text center">
									Maverick Cook
								</h5>
								<p class="center"> Head of Media <br> <a href="mailto:mavcook@umich.edu">mavcook@umich.edu</a>
							</div>
						</div>
					</div>
				</div>

			</div> <!--- END .ROW -->
		</div> <!-- END .SECTION -->
	</div> <!-- END .container -->
{% endblock %}